@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Encabezado*/
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.encabezado .izquierda {
    flex: 1;
    display: flex;
    align-items: center;
}

.encabezado .izquierda .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.encabezado .centro {
    flex: 1;
    display: flex;
    justify-content: center;
}

.encabezado .busqueda {
    display: flex;
    align-items: center;
}

.encabezado .buscador {
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding-left: 20px;
}

.encabezado .btn-buscar {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.encabezado .derecha {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnEncabezado {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    min-width: 150px;
    box-sizing: border-box;
    margin-left: 10px;
    font-family: Poppins;
    font-size: 12px;
}

.btnEncabezado img {
    width: 20px;
    height: auto;
    margin-right: 8px; 
}

.btnEncabezado:hover {
    background-color: #c9c9c9;
    color: black;
}

.contenido {
    margin-top: 0%;
    border: 1px solid black;
    padding-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
}

/*Sección de textos*/
.seccion1 {
    width: 20%;
    margin: 1%;
    height: 100%;
}

.seccion2 {
    width: 45%;
    margin: 1%;
    height: 100%;
}

.seccion3 {
    margin: 1%;
    background: #f6f6f6;
    box-shadow: 0 0 15px rgba(115, 114, 114, 0.3);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

.paginas, .tags, .informacion{
    background: #f6f6f6;
    box-shadow: 0 0 15px rgba(115, 114, 114, 0.3);
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}

.tutorial{
    background: #f6f6f6;
    box-shadow: 0 0 15px rgba(115, 114, 114, 0.3);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.seccion2 .tutorial .autor{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.seccion2 .tutorial .autor img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

/*Títulos y texto*/
.titulo:hover, a:hover{
    color: rgb(73, 73, 255);
}

a{
    text-decoration: none;
    color: black;
}

/*Botones inicio de log in, log out y perfil*/
.button1, .img1{
    color: black;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

button {
    background: white;
    height: 3%;
    font-size: 15px;
    width: fit-content;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 18px;
    border-radius: 9px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease-in-out;

}

button,.btn-buscar:hover {
    background-color: #c8defa;
    color: rgb(0, 0, 0);
}

img{
  border: none;
  border-radius: 40%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.seccion-reaccion {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.opcion-reaccion {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 30%;
    font-size: 12px;
}

.opcion-reaccion:hover {
    background-color: #ffffff;
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-reaccion {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    color: #333;
    border-radius: 5px;
}

.seccion-reaccion.selected .btn-reaccion {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
}

.reacciones-ocultas {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  gap: 8px;
  z-index: 100;
  display: none;
  flex-direction: row;
  background-color: #f0f0f0;
  width: 350px;
}

.seccion-reaccion:hover .reacciones-ocultas {
  display: flex;
}