<!-- Karen Reyes -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'auth.js' %}" defer type="module"></script>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <title>Devug</title>
</head>

<body>
    <div class="encabezado">
        <div class="izquierda">
            <p>Devug</p>
        </div>
        <div class="centro">
            <form class="busqueda" action="resultados.html" method="GET">
                <input type="search" name="q" class="buscador" placeholder="Buscar...">
                <button type="submit" class="btn-buscar">
                    <a href="#index">&#128270;</a>
                </button>
            </form>
        </div>

        <div class="derecha">
            <button id="btn-google">
                <img src="https://storage.googleapis.com/libraries-lib-production/images/GoogleLogo-canvas-404-300px.original.png"
                    alt="Google logo">
                Iniciar sesión
            </button>
        </div>
    </div>


    <div class="contenido">
        <div class="seccion1">
            <a href="index.html">&#127968; Inicio</a><br>
            <a href="index.html">&#127908; Podcast</a><br>
            <a href="index.html">&#127909; Videos</a><br>
            <a href="index.html">&#128204; Etiquetas</a><br>
            <a href="index.html">&#128187; Comparaciones de Software</a><br>
            <a href="index.html">&#128521; Bases de datos gratuitas</a><br>
            <a href="index.html">&#128640; DEVUVG ++</a><br>
            <a href="index.html">&#10024; Ayuda de DEVUVG</a><br>
            <a href="index.html">&#129505; Anunciate en DEVUVG</a><br>
            <a href="index.html">&#127941; Desafíos de DEVUVG</a><br>
            <p>Otros</p>
            <a href="index.html">&#128588; Código de Conducta</a><br>
            <a href="index.html">&#129299; Politicas de Privacidad</a><br>
            <a href="index.html">&#127968; Términos de Uso</a><br>
            <a href="index.html">&#128526; Sobre Nosotros</a><br>
        </div>

        <div class="seccion2">
            {% for tutorial in tutoriales %}
            <div class="tutorial">
                <div class="autor">
                    <p>Autor: {{ tutorial.autor_nombre }}</p>
                </div>
                <div class="titulo">
                    <p>Título: {{ tutorial.titulo }}</p>
                </div>
                <div class="tags">
                    <p>Sección de tags</p>
                </div>
                <div class="reacciones">
                    <p>Sección de reacciones</p>
                </div>
            </div>
            {% empty %}
            <p>No hay tutoriales disponibles.</p>
            {% endfor %}
        </div>

        <div class="seccion3">
            <h3>Recursos en tendencia</h3>
            <div id="titulosAleatorios"></div>
            <script src="../static/titulosAleatorios.js" defer></script>
        </div>
    </div>
</body>

</html>